body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: url('../src/images/BoatImage.png') no-repeat center fixed;
  background-size: cover;
  position: initial;
}

.ship-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 53%;
  margin-top: -23%;
}

.pirate-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 53%;
  margin-top: -23%;
}


.new-ship-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  height: 45px;
  margin-left: 56%;
  margin-top: -23%;
}

.new-pirate-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  height: 45px;
  margin-left: 56%;
  margin-top: -23%;
}

::placeholder {
  color: black;

}

/* label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
} */

/* input {
  height: 0px;
  flex: 0 0 200px;
  margin-left: 10px;
} */